.contenedor{
    background-color: aqua;
    padding: 10px;
    font-size: 23px;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "section section2 ads"
                         "section section2 ads"
                         "footer footer footer";
}
.contenedor .header{
    background-color: greenyellow;
    grid-column: header;
}
.contenedor .nav{
    background-color: violet;
    grid-column: nav;
}
.contenedor .section{
    background-color: blue;
    grid-column: section;
}
.contenedor .section2{
    background-color: red;
    grid-column: section2;
}
.contenedor .ads{
    background-color: orange;
    grid-column: ads;
}
.contenedor .footer{
    background-color: greenyellow;
    grid-column: footer;
}
.contenedor .hijo1{
    background-color: brown;
    grid-column: ads;
}
.contenedor .hijo2{
    background-color: blue;
    grid-column: ads;
}